<div id="club_show" class="row">
  <h1><%= @club.name %> (<%= @club.short_name %>)</h1>
  <div id="club_files" class="span5">
    <h2><%= Player.model_name.human.pluralize %></h2>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th><%= ClubFile.human_attribute_name(:number) %></th>
          <th><%= Player.human_attribute_name(:name) %></th>
          <th><%= ClubFile.human_attribute_name(:position) %></th>
          <th><%= ClubFile.human_attribute_name(:value) %></th>
          <th><%= Country.model_name.human %></th>
        </tr>
      </thead>
      <tbody>
        <% @club.files.active.each do |file| %>
        <tr>
          <td style="color:#<%= @club.number_color %>">
            <%= file.number %>
            <%= image_tag @club.jersey.url(:thumb),
                alt: "#{@club.name} #{Club.human_attribute_name(:jersey)}" %>
          </td>
          <td><%= file.player_name %></td>
          <td><%= file.position.text %></td>
          <td><%= file.value %></td>
          <td><%= image_tag file.player.country.flag.url(:small),
                  alt: "#{file.player.country.name} #{Country.human_attribute_name(:flag)}" %></td>
        </tr>
        <% end -%>
      </tbody>
    </table>
  </div>
  <div id="club_info" class="span5">
    <%= image_tag @club.logo.url(:medium), id: 'club_logo',
          alt: "#{@club.name} #{Club.human_attribute_name(:logo)}" %>
    <%= @club.description.html_safe %>
  </div>
</div>