<div id="team_files_list">
  <% unless @team.active %>
    <% if @team.could_activate? %>
    <div id="could_activate" class="alert alert-block alert-success fade in">
      <h4><%= t '.could_activate_title' %></h4>
      <p><%= t '.could_activate_description' %></p>
      <%= button_to t('.activate_team'), team_activate_path(@team), class: "btn btn-primary" %>
    </div>
    <% else %>
      <div id="activation_warning" class="alert alert-block alert-warning fade in">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <h4><%= t '.activation_warning_title' %></h4>
        <p><%= t '.activation_warning_description' %></p>
      </div>
    <% end %>
  <% end %>

  <div id="team_files_info" class="alert alert-block alert-success fade in">
    <p>
    <%= Team.human_attribute_name(:value) %>: <%= number_to_human(@team.real_value_million) %>,
    <%= Team.human_attribute_name(:remaining_money) %>: <%= number_to_human(@team.remaining_money_million) %>,
    <%= Team.human_attribute_name(:formation) %>: <%= @team.formation %>
    </p>
    <p>
    <%= t '.players_needed_at_least' %>:
    POR: <%= @team.remaining_goalkeepers %>,
    DEF: <%= @team.remaining_defenders %>,
    CEN: <%= @team.remaining_midfielders %>,
    DEL: <%= @team.remaining_forwards %>
    </p>
    <% if @team.remaining_files? %>
    <p><%= t('.remaining_files', count: @team.remaining_files ) %></p>
    <% end %>
  </div>

  <% if files_list.empty? %>
    <%= t('.no_files_yet') %>
  <% else %>
  <table class="table table-striped player-files">
    <thead>
      <tr>
        <th></th>
        <th><%= Player.human_attribute_name(:name) %></th>
        <th><%= ClubFile.human_attribute_name(:position).first(3) %></th>
        <th><%= ClubFile.human_attribute_name(:value) %></th>
        <th><%= PlayerStat.human_attribute_name(:points) %></th>
        <th><%= Country.model_name.human %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render files_list %>
    </tbody>
  </table>
  <% end %>
</div>
