<div id="new_team" class="row span6 offset3">
  <h1><%= t('.create_team') %></h1>
  <%= form_for @team, :html => { :class => "form-inline well" } do |f| %>
    <%= render "shared/form_errors", :object => @team %>

    <%= f.text_field :name, placeholder: t('.name_placeholder') %>
    <%= f.submit t('.create'), class:  "btn btn-primary" %>
  <% end %>
</div>
