<div id="new_team" class="row span6 offset3">
  <h1><%= t('.create_team') %></h1>
  <%= form_for @team do |f| %>
    <%= render "shared/form_errors", :object => @team %>

    <%= f.label :name %>
    <%= f.text_field :name %>
    <br/>
    <%= f.submit t('.create'), class:  "btn btn-primary" %>
  <% end %>
</div>
