<% if teams.empty? %>
  <%= t('.no_teams') %>
<% else %>
<table class="table table-striped player-rank">
  <tbody>
    <% teams.each do |team| %>
    <tr>
      <td class="points"><%= collection_index teams, team %></td>
      <td><%= image_tag team.user.avatar_url, class: 'avatar' %></td>
      <td><%= team.name %></td>
      <td><%= team.user.name %></td>
      <td class="points"><%= team.points %></td>
    </tr>
    <% end -%>
  </tbody>
</table>
<% end %>
