<td><%= jersey_with_number file_row %></td>
<td><%= link_to_modal_player_file file_row %></td>
<td><%= file_row.position.text.first(3).upcase %></td>
<td><%= file_row.value %></td>
<td><%= file_row.respond_to?(:points) ? file_row.points : file_row.player.league_stats(:points,@current_league) %></td>
<td><%= country_flag file_row %></td>
