<% unless user_signed_in? %>
<div id="sign_in_modal" class="modal hide fade">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3><%= t '.sign_in' %></h3>
  </div>
  <%= form_for :user, :url => user_session_path do |f| %>
  <div class="modal-body">
    <div class="row">
      <div class="span3 well">
        <%= f.label User.human_attribute_name(:email) %>
        <%= f.email_field :email %>
        <%= f.label User.human_attribute_name(:password) %>
        <%= f.password_field :password %>
        <%= f.check_box :remember_me %> <%= f.label :remember_me %>
        <%= f.submit t('.sign_in'), :class => "btn btn-success" %>
      </div>
      <div class="span2 well">
        <div class="omniauth_providers">
          <h3><%= t '.sign_in_with' %></h3>
          <%- User.omniauth_providers.each do |provider| %>
          <%= provider_button provider %>
          <% end -%>
      </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-danger" data-dismiss="modal"><%= t '.close' %></a>
    <%= link_to t('.forgot_password'), new_password_path(:user), :class => "btn btn-primary" %>
    <%= link_to t('.sign_up'), new_registration_path(:user), :class => "btn btn-primary" %>
  </div>
  <% end %>
</div>
<% end %>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">

      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <!-- Be sure to leave the brand out there if you want it shown -->
      <a class="brand" href="#">onLeague</a>

      <!-- Everything you want hidden at 940px or less, place within here -->
      <div class="nav-collapse">
        <!-- .nav, .navbar-search, .navbar-form, etc -->
        <ul class="nav">
            <li class="active"><%= link_to t('.home'), root_path %></li>
            <li><%= link_to Club.model_name.human.pluralize, clubs_path %></li>
        </ul>

        <ul class="nav pull-right">
          <% unless @current_league.blank? %>
          <li class="dropdown">
            <% if League.active.count > 1 %>
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= @current_league.name %> <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <% League.except(@current_league.id).active.each do |league| %>
                <li><%= link_to league.name, change_league_path(league.id) %></li>
                <% end %>
              </ul>
            <% else %>
              <a href="#"><%= @current_league.name %></a>
            <% end %>
          </li>
          <% end %>
          <% unless user_signed_in? %>
            <li><a data-toggle="modal" data-target="#sign_in_modal" >
              <i class="icon-user icon-white"></i> <%= t '.sign_in' %>
            </a></li>
          <% else %>
            <li>
              <%= link_to edit_user_registration_path, :title => t('.config') do %>
                <i class="icon-cog icon-white"></i>
              <% end -%>
            </li>
            <li><%= image_tag current_user.avatar_url, :class => 'avatar' %></li>
            <li><%= link_to t('.logout'), destroy_user_session_path, :method => :delete %></li>
          <% end %>
        <ul/>
      </div>

    </div>
  </div>
</div>