<div class="row">
  <div id="main_home" class="span12">
    <%= image_tag 'logo.png', :id => 'home_logo' %>
    <h1><%= t '.title'  %></h1>
    <p><%= t '.welcome' %></p>
  </div>
</div>

<div class="row">
  <div class="span4">
    <h2><%= t('.top_players') %></h2>
    <table class="table table-striped player-rank">
      <tbody>
      <% @top_club_files.each do |club_file| %>
        <tr>
          <td><%= jersey_with_number club_file %></td>
          <td class="name"><%= club_file.player_name %></td>
          <td class="points"><%= club_file.points %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <div class="span4">
    col2
  </div>
  <div class="span4">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th></th>
          <th><%= User.model_name.human.pluralize %></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
        <tr>
          <td><%= image_tag user.avatar_url %></td>
          <td><%= user.name %></td>
        </tr>
        <% end -%>
      </tbody>
    </table>
  </div>
</div>
