<% content_for :seo_metas do %>
  <%= render partial: 'index_seo' %>
<% end %>

<div class="row">
  <div id="games_index" class="span12">
    <h1>
      <%= Game.model_name.human.pluralize %>
      <%= @current_league.name %>
    </h1>

    <% if @games.blank? %>
    <div class="alert">
      <strong><%= t '.no_games_in_week' %></strong>
    </div>
    <% else %>

      <div class="btn-toolbar week-selector">
        <div class="btn-group">
          <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
            <%= "#{Game.human_attribute_name(:season)} #{@season}" %>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <% @seasons.each do |season| %>
              <% unless @season.to_i == season %>
              <li><%= link_to("#{Game.human_attribute_name(:season)} #{season}", games_path(season: season))%></li>
              <% end %>
            <% end %>
          </ul>
        </div>
        <span id="week-label"><%= Game.human_attribute_name(:week) %></span>
        <%= paginate @weeks, param_name: :week, :params => { :season => @season } %>
      </div>

      <table class="table table-striped">
        <thead>
          <tr>
            <th><%= Game.human_attribute_name(:date) %></th>
            <th><%= Game.human_attribute_name(:club_home) %></th>
            <th></th>
            <th></th>
            <th></th>
            <th><%= Game.human_attribute_name(:club_away) %></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <%= render @games %>
        </tbody>
      </table>

    <% end %>
  </div>
</div>
