<div class="row">
  <div class="span4 offset4">
    <h2><%= t '.administration' %></h2>
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => 'well' }) do |f| %>
      <div><%= f.label :email %>
      <%= f.email_field :email %></div>

      <div><%= f.label :password %>
      <%= f.password_field :password %></div>

      <div><%= f.submit t('.sign_in'), :class => "btn btn-primary" %></div>
    <% end %>
  </div>
</div>
