<div id="new_team_file" class="row span8 offset2">

  <%= @team.name %>: <%= @team.remaining_money %>

  <%= render 'search_form' %>

  <%= render "shared/form_errors", object: @team_file %>

  <div id="club_files_list">
    <%= paginate @club_files %>

    <% @club_files.each do |club_file| %>
      <%= club_file.player_name %>,
      <%= club_file.value %>,
      <%= form_for [@team, @team_file] do |f| %>
        <%= hidden_field_tag :club_file_id, club_file.id %>
        <%= f.submit t('.buy_player') %>
      <% end %>
      </br>
    <% end %>

    <%= paginate @club_files %>
  </div>

</div>

