<p><%= t '.hi', :name => @resource.email %></p>

<p><%= t '.request_explain' %></p>

<p><%= link_to t('.change_password'), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p><%= t '.ignore_email' %></p>
<p><%= t '.password_wont_change' %></p>