<h2><%= t '.edit_account' %> (<%= resource.email %>)</h2>

<div class="row">
  <div class="span7">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => "well" }) do |f| %>
      <%= devise_error_messages! %>

      <div><%= f.label :name %>
      <%= f.text_field :name %></div>

      <div><%= f.label :password %> <i>(<%= t '.blank_for_no_change' %>)</i><br />
      <%= f.password_field :password %></div>

      <div><%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %></div>

      <div><%= f.label :current_password %> <i>(<%= t '.set_to_confirm' %>)</i><br />
      <%= f.password_field :current_password %></div>

      <div><%= f.submit t('.update'), :class => "btn btn-primary" %></div>
    <% end %>

    <%= link_to t('.cancel_account'), registration_path(resource_name), :confirm => t('.sure_cancel_account'), :method => :delete, :class => "btn btn-danger" %>
  </div>
  <div class="span5">
    <div class="omniauth_providers well">
      <h2><%= t '.connect_with' %></h2>
      <%- resource_class.omniauth_providers.each do |provider| %>
        <%= provider_button provider %>
      <% end -%>
    </div>

    <%- unless resource.oauth_providers.blank? %>
    <div class="omniauth_providers well">
      <h2><%= t '.already_connect_with' %></h2>
      <ul class="unstyled">
      <%- resource.oauth_providers.each do |oauth_provider| %>
      <li>
        <%=  t('.connected_with', :provider => oauth_provider.provider.to_s.titleize) %>
        <%= link_to 'x', user_omniauth_delete_path(oauth_provider.provider),
            :confirm => t('.sure_delete_provider', :provider => oauth_provider.provider),
            :method => :delete, :class => 'close', :title => t('.delete_connection') %>
      </li>
      <% end -%>
      </ul>
    </div>
    <% end -%>
  </div>
</div>

<% content_for :javascripts do %>
  <script type="text/javascript">
    $(document).ready(function() {
      $(".grayscale").grayscale();
    });
  </script>
<% end %>
